In [11]:
import pandas as pd


def transform( X, n_in, n_out,dropnan=False):
    n_vars = 1 if type(X) is list else X.shape[1]
    dff = pd.DataFrame(X)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(dff.shift(i))
        names += [('var%d(t-%d)' % (j + 1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(dff.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j + 1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j + 1, i)) for j in range(n_vars)]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [12]:
sarimax_df =  pd.read_csv('pred_ref.csv', parse_dates=True, index_col='dt')
sarimax_df

                               pred       ref
dt
2021-09-12 00:00:00+00:00  0.476966  0.388750
2021-09-19 00:00:00+00:00  0.480744  0.388750
2021-09-26 00:00:00+00:00  0.392700  0.340417
2021-10-03 00:00:00+00:00  0.496629  0.326250
2021-10-10 00:00:00+00:00  0.479262  0.317083
...                             ...       ...
2023-12-03 00:00:00+00:00  0.618419  0.750000
2023-12-10 00:00:00+00:00  0.639893  0.677083
2023-12-17 00:00:00+00:00  0.587176  0.562500
2023-12-24 00:00:00+00:00  0.617031  0.562500
2023-12-31 00:00:00+00:00  0.622052  0.625000

[121 rows x 2 columns]

In [13]:
transform(sarimax_df['ref'].values.tolist(), 8, 8, dropnan=True)

,var1(t-8),var1(t-7),var1(t-6),var1(t-5),var1(t-4),var1(t-3),var1(t-2),var1(t-1),var1(t),var1(t+1),var1(t+2),var1(t+3),var1(t+4),var1(t+5),var1(t+6),var1(t+7)
8,0.388750,0.388750,0.340417,0.326250,0.317083,0.330833,0.407500,0.476667,0.708333,0.708333,0.763750,0.763750,0.763750,0.763750,0.388750,0.416667
9,0.388750,0.340417,0.326250,0.317083,0.330833,0.407500,0.476667,0.708333,0.708333,0.763750,0.763750,0.763750,0.763750,0.388750,0.416667,0.375000
10,0.340417,0.326250,0.317083,0.330833,0.407500,0.476667,0.708333,0.708333,0.763750,0.763750,0.763750,0.763750,0.388750,0.416667,0.375000,0.416667
11,0.326250,0.317083,0.330833,0.407500,0.476667,0.708333,0.708333,0.763750,0.763750,0.763750,0.763750,0.388750,0.416667,0.375000,0.416667,0.763750
12,0.317083,0.330833,0.407500,0.476667,0.708333,0.708333,0.763750,0.763750,0.763750,0.763750,0.388750,0.416667,0.375000,0.416667,0.763750,0.944583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,0.437500,0.408333,0.375000,0.354167,0.333333,0.408333,0.366667,0.354167,0.503125,0.652083,0.801042,0.950000,0.950000,1.510417,1.225000,0.750000
110,0.408333,0.375000,0.354167,0.333333,0.408333,0.366667,0.354167,0.503125,0.652083,0.801042,0.950000,0.950000,1.510417,1.225000,0.750000,0.677083
111,0.375000,0.354167,0.333333,0.408333,0.366667,0.354167,0.503125,0.652083,0.801042,0.950000,0.950000,1.510417,1.225000,0.750000,0.677083,0.562500
112,0.354167,0.333333,0.408333,0.366667,0.354167,0.503125,0.652083,0.801042,0.950000,0.950000,1.510417,1.225000,0.750000,0.677083,0.562500,0.562500
113,0.333333,0.408333,0.366667,0.354167,0.503125,0.652083,0.801042,0.950000,0.950000,1.510417,1.225000,0.750000,0.677083,0.562500,0.562500,0.625000